{% extends "templates/base.html" %}
{% set active_page = 'index' %}

{% block content %}
<div id="content">
  <!-- insert the page content here -->
  <h1>Попробуем сделать портал о кино</h1>
  <p>Поиск фильмов, новости кино, отзывы пользователей, афиша кинотеатров, фотографии, постеры, трейлеры, кассовые сборы и многое другое.</p>
  <p>Последние новости российского и зарубежного кино. Ежедневные обновления, самая свежая и интересная информация из мира кино: статьи о звездах, интервью, репортажи, обзоры премьер и кассовых сборов.</p>
  <p>Это источник самой оперативной и подробной информации о кинематографе, ориентированный как на любителей кино, так и на профессионалов.</p>
  <p>Портал предлагает своим пользователям не только новинки кино - кадры, трейлеры, постеры, фотографии со съемочных площадок и статистику кассовых сборов, но и справочную информацию об известных кинематографистах и главных наградах киноиндустрии.</p>
</div>
{% endblock %}